@using ControleDeMedicamentos.ConsoleApp.Model

@model NotificacaoViewModel;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@Model.Titulo - Controle de Medicamentos</title>

    <style>
        :root {
            --fundo-principal: #1e1e1e;
            --fundo-secundario: #2c2c2e;
            --cor-principal: #DB56EB;
            --cor-secundaria: #b084d1;
            --cor-borda: #3a3a3c;
        }

        body {
            margin: 0;
            background-color: var(--fundo-principal);
            color: white;

            font-family: 'Segoe UI', sans-serif;
        }

        a {
            text-decoration: none;
        }

        hr {
            margin-bottom: 25px;
        }

        nav {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            justify-content: space-between;

            padding: 0 200px;
            background-color: var(--fundo-secundario);

            border-bottom: 1px solid var(--cor-borda);
        }

        nav > h2 {
            margin: 0;
        }

        nav > ul {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;

            justify-content: center;

            padding-left: 0;

            list-style: none;
        }

        .link-navegacao {
            color: var(--cor-principal);

            text-decoration: none;

            font-weight: 500;
            font-size: 18px;
        }

        .link-navegacao:hover {
            color: var(--cor-secundaria);
        }

        header {
            padding: 0 200px;
        }

        main {
            padding: 0 200px;

            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }

        @@media (max-width: 768px) {
            nav {
                padding: 20px;

                justify-content: center;
            }

            header {
                padding: 20px;
            }

            main {
                padding: 20px;
            }
        }
    </style>
</head>
<body>
    <nav>
        <h2>Controle de Medicamentos</h2>

        <ul>
            <li><a class="link-navegacao" href="/">Página Inicial</a></li>
            <li><a class="link-navegacao" href="/funcionarios/visualizar">Funcionários</a></li>
            <li><a class="link-navegacao" href="/fornecedores/visualizar">Fornecedores</a></li>
            <li><a class="link-navegacao" href="/pacientes/visualizar">Pacientes</a></li>
        </ul>
    </nav>

    <header>
        <h2>@Model.Titulo</h2>

        <hr />
    </header>

    <main>
        <p>@Model.Mensagem</p>
    </main>
</body>
</html>