@{
    Layout = "_Layout";
    ViewBag.Titulo = "Página Inicial";
}

<div class="secao-cards">
    <a href="/funcionarios/visualizar">
        <div class="card">
            <h3>Funcionários</h3>

            <p>Gerencie os funcionários credenciados. Funcionários são responsáveis pela gerência do estoque.</p>
        </div>
    </a>

    <a href="/fornecedores/visualizar">
        <div class="card">
            <h3>Fornecedores</h3>

            <p>Gerencie os fornecedores de medicamentos. Fornecedores são necessários para a gestão de estoque de medicamentos.</p>
        </div>
    </a>

    <a href="/pacientes/visualizar">
        <div class="card">
            <h3>Pacientes</h3>

            <p>Gerencie os pacientes. O cadastro de pacientes é necessário para retirada de prescrições.</p>
        </div>
    </a>
</div>
