@{
    Layout = "_Layout";
    ViewBag.Titulo = "Página Inicial";
}

<div class="secao-cards">
    <a href="/funcionarios/visualizar">
        <div class="card">
            <h3>Funcionários</h3>

            <p>Gerencie os funcionários credenciados. Funcionários são responsáveis pela gerência do estoque.</p>
        </div>
    </a>

    <a href="/fornecedores/visualizar">
        <div class="card">
            <h3>Fornecedores</h3>

            <p>Gerencie os fornecedores de medicamentos. Fornecedores são necessários para a gestão de estoque de medicamentos.</p>
        </div>
    </a>

    <a href="/pacientes/visualizar">
        <div class="card">
            <h3>Pacientes</h3>

            <p>Gerencie os pacientes. O cadastro de pacientes é necessário para retirada de prescrições.</p>
        </div>
    </a>

    <a href="/medicamentos/visualizar">
        <div class="card">
            <h3>Medicamentos</h3>

            <p>Gerencie os medicamentos. O cadastro de medicamentos é necessário para controle de estoque e prescrições.</p>
        </div>
    </a>

    <a href="/prescricoes-medicas/visualizar">
        <div class="card">
            <h3>Prescrições</h3>

            <p>Gerencie as prescrições médicas. Prescrições são necessárias para retirada de medicamentos.</p>
        </div>
    </a>

    <a href="/requisicoes-medicamentos/saida/visualizar">
        <div class="card">
            <h3>Requisições de Saída</h3>

            <p>Gerencie as requisições de saída do estoque. A retirada de prescrições é feita aqui.</p>
        </div>
    </a>
</div>
